In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import StockHistory

In [6]:
names = StockHistory.get_namad_list()

,Unnamed: 0,ID,ID2,NAMAD,DESC,UN1,VOLUME,UN2,UN3,CAT,UN4,TYPE
0,0,120708739675404,IRO2X13T8061,جكانه806,آتي ش كانه هاي فلزي-1398/06/13,125230,0,1,37,13,1200,263
1,1,143187001116603,IRO6MELZ96C1,تملي612,تسهيلات مسكن بانك ملي-اسفند96,61042,0,1,42,59,5870,307
2,2,318005355896147,IRO7PFSP0001,فسا,پتروشيمي فسا,123018,15287944,1,1064,44,3486000000,309
3,3,350097973599097,IRO6MSKZ9751,تسه9705,امتياز تسهيلات مسكن مرداد97,122924,1073,1,84,59,1958851,307
4,4,408934423224097,IRO1FRVR0001,فرآور,فرآوري‌موادمعدني‌ايران‌,122948,584964,48000,790,27,120000000,300

In [14]:
sec_data = pd.DataFrame()
for n in names.head(n=20)["NAMAD"]:
    sec_data[n] = StockHistory.get_namad_history_by_name(n,start_date='1390-1-1',from_cache=True)["ClosePrice"]
len(sec_data)

48

In [15]:
sec_returns = np.log(sec_data / sec_data.shift(1))
sec_returns.head()

,جكانه806,تملي612,فسا,تسه9705,فرآور,ضمخا7012,سبزوا,وبملت,لپيام,ثنام,ضمخا1007,شستا994,مترو9812,ضمخا1009,تملي710,وآذر,حسينا,رتكوح,رايان911,البرز02
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,-0.048583,0.0,-0.062945,0.014969,0.007075,0.0,0.013161,-0.042505,0.000000,0.002891,0.0,0.0,0.0,0.0,0.0,-0.017413,-0.042815,-0.033516,0.0,0.0
2,-0.013306,0.0,0.001273,0.024704,-0.015181,0.0,-0.032069,0.008453,-0.062198,-0.023366,0.0,0.0,0.0,0.0,0.0,-0.024539,-0.014632,0.000608,0.0,0.0
3,-0.012862,0.0,-0.005102,-0.010236,-0.000902,NaN,0.039257,-0.013690,0.013453,-0.002959,NaN,0.0,0.0,NaN,0.0,-0.046237,-0.008728,0.011491,0.0,0.0
4,0.000596,0.0,0.021506,0.018225,0.008140,NaN,0.047638,0.014661,0.000000,0.015294,NaN,0.0,0.0,NaN,0.0,0.000000,0.025709,0.049420,0.0,0.0

In [16]:
sec_returns.corr

جكانه806    1.322275e-01
تملي612     0.000000e+00
فسا         1.503984e-01
تسه9705     8.775945e-02
فرآور       1.490881e-01
ضمخا7012    0.000000e+00
سبزوا       1.545226e-01
وبملت       1.346083e-01
لپيام       2.486047e-01
ثنام        1.572646e-01
ضمخا1007    0.000000e+00
شستا994     7.682075e-07
مترو9812    4.316321e-02
ضمخا1009    0.000000e+00
تملي710     8.528325e-02
وآذر        1.042882e-01
حسينا       1.125957e-01
رتكوح       4.876973e-01
رايان911    3.102974e-02
البرز02     0.000000e+00
dtype: float64